<table
  id="table"
  data-toggle="table"
  data-height="680"
  data-single-select="true"
  data-click-to-select="true"
  data-pagination="true"
  data-search="true"
  data-page-size="10"
  data-page-list="[10, 20, 25, 50, 100, All]"
  >

    <thead>
        <tr>
            <th data-field="state" data-checkbox="true"></th>
            <th data-field="id" data-sortable="true">#</th>
            <th data-field="tipo" >Tipo</th>
            <th data-field="name" data-sortable="true">Nome</th>
            <th data-field="aparelho">Aparelho</th>
            <th data-field="marca">Marca</th>
            <th data-field="modelo">Modelo</th>
            <th data-field="data" data-sortable="true">Data de entrada</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <td></td>
        <th scope="row">1</th>
        <td>{{tipo}}</td>
        <td>Maria Dias Cardoso</td>
        <td>Microondas</td>
        <td>Brastemp</td>
        <td>BMJ381</td>
        <td>12/01/2020</td>
        </tr>
        <tr>
<td></td>
        <th scope="row">2</th>
        <td>{{tipo}}</td>
        <td>Ana Clara</td>
        <td>Som</td>
        <td>Sony</td>
        <td>MX35agh500</td>
        <td>10/01/2020</td>
        </tr>
        <tr>
        <td></td>
        <th scope="row">3</th>
        <td>{{tipo}}</td>
        <td>José Torres</td>
        <td>Televisor</td>
        <td>LG</td>
        <td>LM39se</td>
        <td>09/01/2020</td>
        </tr>
        <tr>
        <td></td>
        <th scope="row">4</th>
        <td>{{tipo}}</td>
        <td>Maria Dias</td>
        <td>Microondas</td>
        <td>Brastemp</td>
        <td>BMJ38</td>
        <td>12/01/2020</td>
        </tr>
        <tr>
        <td></td>
        <th scope="row">5</th>
        <td>{{tipo}}</td>
        <td>Ana Clara</td>
        <td>Som</td>
        <td>Sony</td>
        <td>MX35agh500</td>
        <td>10/01/2020</td>
        </tr>
        <tr>
        <td></td>
        <th scope="row">6</th>
        <td>{{tipo}}</td>
        <td>José Torres</td>
        <td>Televisor</td>
        <td>LG</td>
        <td>LM39se</td>
        <td>09/01/2020</td>
        </tr>
        <tr>
        <td></td>
        <th scope="row">7</th>
        <td>{{tipo}}</td>
        <td>Maria Dias</td>
        <td>Microondas</td>
        <td>Brastemp</td>
        <td>BMJ38</td>
        <td>12/01/2020</td>
        </tr>
        <tr>
        <td></td>

        <th scope="row">8</th>
        <td>{{tipo}}</td>
        <td>Ana Clara</td>
        <td>Som</td>
        <td>Sony</td>
        <td>MX35agh500</td>
        <td>10/01/2020</td>
        </tr>
        <tr>
                <td></td>
        <th scope="row">9</th>
        <td>{{tipo}}</td>
        <td>José Torres</td>
        <td>Televisor</td>
        <td>LG</td>
        <td>LM39se</td>
        <td>09/01/2020</td>
        </tr>
        <tr>
                <td></td>
        <th scope="row">10</th>
        <td>{{tipo}}</td>
        <td>Maria Dias</td>
        <td>Microondas</td>
        <td>Brastemp</td>
        <td>BMJ38</td>
        <td>12/01/2020</td>
        </tr>
        <tr>
                <td></td>
        <th scope="row">11</th>
        <td>{{tipo}}</td>
        <td>Ana Clara</td>
        <td>Som</td>
        <td>Sony</td>
        <td>MX35agh500</td>
        <td>10/01/2020</td>
        </tr>
        <tr>
                <td></td>
        <th scope="row">12</th>
        <td>{{tipo}}</td>
        <td>José Torres</td>
        <td>Televisor</td>
        <td>LG</td>
        <td>LM39se</td>
        <td>09/01/2020</td>
        </tr>



        
    </tbody>
</
table>

